@use '../tab2/tab2.page.scss';

.action-buttons {
  display: flex;
  gap: 12px;
  
  ion-button {
    flex: 1;
    margin: 0;
    --border-radius: 12px;
    height: 54px;
    font-weight: 600;
    font-size: 16px;
  }
}
